<h4>User Login</h4>


<div class="form">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <button (click)="fillData()">fill the form</button>
    <div  *ngIf="userData.invalid && userData.touched">eror</div>
    <div ngModelGroup="userData" #userData="ngModelGroup">
      <label for="fname">First name : </label>
      <input type="text" id="fname" name="firstname" required ngModel placeholder="enter your first name"><br><br>
      <span
        *ngIf="form.controls['firstname'] && !form.controls['firstname'].valid && form.controls['firstname'].touched">Please
        enter valid First name</span><br><br>
      <label for="lname">Last Name:</label>
      <input type="text" id="lname" name="lastname" placeholder="last name" ngModel required #lname="ngModel"><br><br>

      <span *ngIf="lname.invalid && lname.touched">please Enter last name</span><br><br>
    </div>
    <label for="email">Email:
      <input type="email" id="email" name="email" ngModel required email placeholder="Email" #email="ngModel"><br><br>
      <span *ngIf="email.invalid && email.touched">Please enter a valid email</span><br><br>
    </label>
    <label for="gender">Gender:
      <select name="gender" id="gender" ngModel [ngModel]="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </label>
    <br><br>
    <label for="address">Address: <br>
      <textarea name="address" id="address" cols="30" rows="10" ngModel [(ngModel)]="address"></textarea><br>
      <h3>{{address}}</h3>
    </label><br><br>

    <input type="submit" value="Submit " [disabled]="!form.valid">
  </form>


</div>